<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sentence Builder</title>
        <link
            rel="preload"
            href="https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet" />
        <% htmlWebpackPlugin.files.css.forEach(function(css) { %>
        <link href="<%= css %>" rel="stylesheet" />
        <% }); %>
    </head>
    <body>
        <div id="root"></div>
        <% htmlWebpackPlugin.files.js.forEach(function(script) { %>
        <script type="text/javascript" src="<%= script %>" defer></script>
        <% }); %>
    </body>
</html>
