.input {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 12px;
    padding: 0 16px;
    height: 48px;

    font-family: inherit;
    font-size: 16px;
    line-height: 1;

    outline: none;
    border-radius: 8px;
    border: none;

    transition: box-shadow 50ms;

    &:focus {
        box-shadow: 0 0 0 2px orange;
    }

    &_state {
        &_invalid {
            box-shadow: 0 0 0 2px tomato;
        }
    }
}
