.button {
    height: 34px;

    font-family: inherit;
    font-size: 13px;
    line-height: 32px;

    outline: none;
    border-radius: 4px;
    border: none;
    background-color: #fff;

    transition: box-shadow 50ms, background-color 50ms;

    & + & {
        margin-left: 12px;
    }

    &:hover {
        background-color: #f3f3f3;
    }

    &:focus {
        box-shadow: 0 0 0 2px orange;
    }
}
